  <div class="ui raised segment">
    <h2 class="ui header">Demo Form: with ng-model</h2>

    <form #f="ngForm" 
          (ngSubmit)="onSubmit(f.value)"
          class="ui form">

      <div class="field">
        <label for="productNameInput">Product Name</label>
        <input type="text"
               id="productNameInput"
               placeholder="Product Name"
               name="productName" ngModel>
      </div>

      <div class="ui error message">Form is invalid</div>
      <button type="submit" class="ui button">Submit</button>
    </form>

  </div>
